.ant-card-head{
    background-color:#108ee9 !important;
}
.abs-center{
    overflow:auto;
    margin:auto;
    position:absolute;
    top:0;
    left:0;
}
.width-lg{
    width:320px!important;
}
.mt-lg{
    margin-top:24px!important;
}