<div>
    <form nz-form [nzLayout]="'horizontal'" [formGroup]="validateForm">
        <div nz-form-item nz-row *ngFor="let i of _formname">
            <div nz-form-label nz-col [nzSm]="6">
                <label nz-form-item-required>{{i.name}}</label>
            </div>
            <div nz-form-control nz-col [nzSm]="14">
                <nz-input [nzSize]="'large'" formControlName="{{i.id}}" [nzType]="'text'" [nzId]="i.name"
                [nzPlaceHolder]="i.name" [(ngModel)]="i.value"
                [nzDisabled]="i.disabled ? i.disabled : 'false'"></nz-input>
            </div>
        </div>
    </form>
    <div class="ant-modal-footer ng-star-inserted">
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">
            返回
        </button>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleCancel($event)"
        [nzLoading]="isConfirmLoading">
            保存
        </button>
    </div>
</div>