<nz-content style="apdding: 24px; min-height:280px;">
  <div nz-row [nzGutter]="24">
    <!-- 订单 -->
    <div nz-col [nzSpan]="16">
      <nz-card [nzBordered]="false" [nzNoHovering]="true">
        <ng-template #body>
          TODO:用户退款单
        </ng-template>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card [nzBordered]="false" [nzNoHovering]="true">
        <ng-template #title>
          今日营业总览
        </ng-template>
        <ng-template #body>
          <div>订单量： 213</div>
          <div>营业额： 2130</div>
        </ng-template>
      </nz-card>
    </div>
  </div>
</nz-content>